@import "tailwindcss";

@theme {
    --color-pluvia-purple: #8e51ff;
    
  }

html, body {
    overflow-x: hidden;
    width: 100%;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

#root {
    height: 100vh;
}
main {
    display: flex;
}

